
:root {
  font-family:
    Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --primary-color: #60BEF9;
  --search-bar-color: #1C2437;
  --text-placeholder-color: #757573;
  background: #12172A;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}

input::placeholder {
  font-style: italic;
}

button, a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
